/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Varibales */
:root {
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
}
body {
    width: 100%;
    height: 100%;
    background: var(--Paleblue);
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: repeat-x;
}
@media (min-width: 768px) {
    body {
        background-image: url(./images/pattern-background-desktop.svg);
        background-repeat: repeat-x;
    }
        
}
    

.container {
    margin: auto;
    margin-top: 1rem;
    width: 400px;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    background: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: var(--Desaturatedblue) 2px 2px 5px;
    height: 570px;
}
.container .hero {
    border-radius: 15px 15px 0 0;
    width: 100%;
    
}
h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
}
.container > p {
    color: var(--Desaturatedblue);
    width: 80%;
    text-align: center;
    margin: auto ;
    line-height: 1.5;
    
}
article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Verypaleblue);
    width: 80%;
    border-radius: 15px;
    padding: 20px;
    margin: 1rem auto;
}
article > p {
    margin-right: 3rem;
    font-weight: 900;
}
article > p > span {
    color: var(--Desaturatedblue);
    font-weight: 500;
}
article > a {
    text-decoration: none;
}
article > a:hover {
    opacity: .7;
    color: var(--Brightblue);
}
button {
    display: block;
    margin: auto;
    font-weight: 900;
    font-family: 'Red Hat Display', sans-serif;
    border: none;
    cursor: pointer;
}
.buttons .payment {
    background-color: var(--Brightblue);
    color: white;
    padding: 15px;
    border-radius: 15px;
    width: 80%;
    box-shadow: 0 15px 15px hsl(245deg 80% 90%);
    }
.buttons .payment:hover {
    opacity: .7;
    box-shadow: 0 2px 3px var(--Brightblue);
}
.cancel {
    margin: 1rem auto;
    background-color: transparent;
    color: var(--Desaturatedblue);
    
}
.cancel:hover {
    color: var(--Darkblue);    
}

.attribution {
     font-size: 11px;
     text-align: center; 
     margin-top: 1rem;
    }
.attribution a {
     color: hsl(228, 45%, 44%);
     }
